# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user

4- Exploratory Data Analysis/Programming Assignments/Programming Assignment 1/data/household_power_consumption.txt

3- Getting and Cleaning Data/Course Project/Project 1/data/activity_labels.txt

3- Getting and Cleaning Data/Course Project/Project 1/data/features.txt

3- Getting and Cleaning Data/Course Project/Project 1/data/subject_test.txt

3- Getting and Cleaning Data/Course Project/Project 1/data/subject_train.txt

3- Getting and Cleaning Data/Course Project/Project 1/data/X_test.txt

3- Getting and Cleaning Data/Course Project/Project 1/data/X_train.txt

3- Getting and Cleaning Data/Course Project/Project 1/data/y_test.txt

3- Getting and Cleaning Data/Course Project/Project 1/data/y_train.txt

3- Getting and Cleaning Data/Course Project/Project 1/data/Human-Activity-Recognition.zip

4- Exploratory Data Analysis/Programming Assignments/Programming Assignment 2/data/NEI-Data.zip

4- Exploratory Data Analysis/Programming Assignments/Programming Assignment 2/data/Source_Classification_Code.rds

4- Exploratory Data Analysis/Programming Assignments/Programming Assignment 2/data/summarySCC_PM25.rds
